@use "./Assets/Styles/mixins.scss" as mix;
@use "./Assets/Styles/variables.scss" as var;

body {
	margin: 0 auto;
	font-family: "Azo Sans Regular", "Open Sans", Helvetica, Arial, sans-serif;
	background-color: #1e1f27;

	.movies-category {
		padding: 0 90px;
		.movies-category-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			span {
				display: flex;
				gap: 20px;
			}

			.header-links {
				width: fit-content;
				display: flex;
				color: white;
				font-weight: bold;
				hr {
					transition-duration: 0.2s;
					width: 3px;
					height: 0%;
					margin: 0 10px 0 0;
					border: none;
					background-color: var.$highlightColor;
				}
				&:hover {
					cursor: pointer;
					color: var.$highlightColor;
					hr {
						width: 3px;
						height: 100%;
						transition-duration: 0.2s;
						background-color: var.$highlightColor;
					}
				}
			}

			.header-links-active {
				width: fit-content;
				display: flex;
				color: var.$highlightColor;
				font-weight: bold;
				hr {
					transition-duration: 0.2s;
					width: 3px;
					height: 100%;
					margin: 0 10px 0 0;
					border: none;
					background-color: var.$highlightColor;
				}
			}
			.check-all-movies {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 5px;
				a {
					color: #bbbcc4;
					text-decoration: none;
					font-weight: 500;
					transition-duration: 0.2s;
					border-bottom: 1px solid transparent;
					&:hover {
						cursor: pointer;
						transition-duration: 0.2s;
						border-bottom: 1px solid #4bdbc5;
					}
				}
				img {
					width: 20px;
					filter: brightness(2.5) hue-rotate(-60deg);
				}
			}
		}
	}

	#gift-card-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		padding: 0 90px;
		max-width: 85%;
	}
}

@media (min-width: 168px) and (max-width: 550px) {
	.header-main{
		#search{
			width: 30% !important;
			background-color: transparent !important;
			input{
				display: none !important;
			}
		}
	}

	.header-content{
		flex-wrap: nowrap !important;
		padding: 0 20px;
	}

	.menu-bar{
		padding: 10px 0 !important;
		width: 90%;

		ul{
			display: flex !important;
			align-items: center !important;
			padding: 0 20px;
			gap: 20px !important;
			text-align: center;
		}
	}

	#main-intro{
		padding-top: 130px !important;
	}

	#main-intro-content{
		flex-direction: column;
		padding-top: 0;

		#video-player{
			width: 100% !important;
			mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 60%, transparent 100%) !important;
		}
		.movie-info{
			width: 100% !important;
			.movie-info-container{
				padding: 20px;
			}
		}
	}

  #playing-movies{
		padding: 0 20px !important;
	}

	.movies-category {
		padding: 0 !important;
	}
  .movies-category-content {
		flex-direction: column !important;
		margin: 20px 0;
		span{
			justify-content: center;
			h2{
				font-size: 18px;
			}
		}
		.check-all-movies{
			justify-content: center !important;
		}
	}

	#cinemas-banner{
		width: 100% !important;
		padding: 0 20px !important;
	}
	#cinemas-list-main{
		padding: 0 20px !important;
	}
	#banner{
		height: max-content !important;
		margin: 80px 0 !important;
		#banner-content{
			padding: 0 20px !important;

			h2{
				font-size: 30px !important;
			}
		}
	}

	#gift-card-list{
		padding: 0 20px !important;

		#gift-card{
			height: 380px;
			#gift-bg{
				height: 280px !important;
			}
		}
	}
}
