@use "../../Assets/Styles/mixins.scss" as mix;
@use "../../Assets/Styles/variables.scss" as var;

#cinemas-list{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  justify-content: left;
  padding: 0;
  width: 100%;

  li{
    padding: 16px;
    background-color: #2a2a33;
    width: 265px;
    transition-duration: 0.2s;
    &:hover{
      transition-duration: 0.2s;
      transform: scale(1.05);
      cursor: pointer;
      h3{
        color: var.$highlightColor;
      }
    }
    p{
      color: rgb(116, 117, 125);
    }
  }
}