@use "../../Assets/Styles/mixins.scss" as mix;
@use "../../Assets/Styles/variables.scss" as var;

#playing-movies{
  padding: 0 90px;
  ul{
    list-style-type: none !important;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
    grid-template-rows: 1fr;
    padding: 0;
    justify-content: center;

    li{ 
      position: relative;
      #comprar-bilhete{
        position: absolute;
        top: 10%;
        color: var.$highlightColor;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        font-size: 20px;
        opacity: 0;
        transition-duration: 0.2s;
        z-index: 1;
        h4{
          margin: 0;
          text-align: center;
        }
        .icon{
          font-size: 40px;
        }
      }
      .movie-poster-info{
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
        background-color: white;
        color: black;
        z-index: 1;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: calc(100% - 100%);
        padding-top: 0px;
        transition-duration: 0.3s;
        h3{
          padding: 0 10px;
          font-size: 13px;
          font-weight: bold;
          margin: 0;
        }
        p{
          padding: 0 10px;
          margin: 0;
          font-size: 11px;
        }
      }
      img{
        max-width: 100%;
        height: auto;
        transition-duration: 0.3s;
        filter: blur(0px);
        filter: brightness(100%);
      }

      &:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: .2s;
        #comprar-bilhete{
          opacity: 1;
        }
        .movie-poster-info{
          transition-duration: 0.3s;
          height: fit-content;
          padding: 20px 0;
        }
        img{
          filter: blur(2px);
          filter: brightness(50%);
        }
      }
    }
  }

}


